{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'Indicators_app_indicator_list' %}">Indicator Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>indicator_designation</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.indicator_designation }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'Indicators_app_indicator_create' %}">Create new Indicator</a>
{% endblock %}