{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div>
    <a class="btn btn-default" href="{% url 'indicators:Indicators_app_section_list' %}">Section Listing
    </a>
    <a class="btn btn-primary" href="{{object.get_update_url}}">Edit Section</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <td>Section Designation</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ object.section_designation }}</td>
        </tr>
    </tbody>
</table>

<div class="row">
        <div class="col-sm-12">
            <table id="albums" class="table table-striped table-bordered" >
                  <thead>
                    <tr>
                        <th >ID</th>
                        <th >Target Value</th>
                        <th >Section</th>
                        <th >Indicator</th>
                        <th >Periode</th>
                        <th >Output</th>
                    </tr>
                  </thead>
            </table>
        </div>
    </div>
</div>
<script>
  $(document).ready(function() {
      $('#albums').DataTable(
        {
            serverSide: true,
            ajax: {
                url: "{% url "indicators:indicatorsectionperiode-list" %}?format=datatables",
            },
            columns: [
                  {'data': 'pk'},
                  {'data': 'target_value'},
                  {'data': 'section',  'name': 'section.section_designation'},
                  {'data': 'indicator',  'name': 'indicator.indicator_designation'},
                  {'data': 'periode',  'name': 'periode.periode_designation'},
                  {'data': 'output',  'name': 'output.output_designation, output.output_description'}
              ]

        }
        );
  });
</script>


{% endblock %}