{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div>
    <a class="btn btn-default" href="{% url 'indicators:Indicators_app_section_list' %}">Section Listing
    </a>
    <a class="btn btn-primary" href="{{object.get_update_url}}">Edit Section</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <td>Section Designation</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ object.section_designation }}</td>
        </tr>
    </tbody>
</table>

<div class="row">
        <div class="col-sm-12">
            <table id="albums" class="table table-striped table-bordered" >
                  <thead>
                    <tr>
                        <th >ID</th>
                        <th >Periode</th>
                        <th >Output</th>
                        <th >Indicator</th>
                        <th >Target Value</th>
                        <th >Current Value </th>
                        <th >Section</th>
                        <th >Partners</th>
                    </tr>
                  </thead>
            </table>
        </div>
    </div>
</div>
<script>
  $(document).ready(function() {
      $('#albums').DataTable(
        {
            ajax: {
                url: "{% url "indicators:indicatorsectionperiode-list" %}?format=datatables&section={{object.id}}",
            },
            columns: [
                  {'data': 'pk'},
                  {'data': 'periode',  'name': 'periode.periode_designation'},
                  {'data': 'output',  'name': 'output.output_designation, output.output_description'},
                  {'data': 'indicator',  'name': 'indicator.indicator_designation'},
                  {'data': 'target_value'},
                  {'data': 'value'},
                  {'data': 'section',  'name': 'section.section_designation'},
                  {'data': 'partner',  'name': 'partner'}
              ],
            dom: "<'row'<'col-sm-3'l><'col-sm-4'i><'col-sm-5'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-4'B><'col-sm-8'p>>",
            pagingType: "full_numbers",
            lengthMenu: [
                [10, 25, 50, 100, -1 ],
                ['10', '25', '50', '100', 'All' ]
            ],
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]

        }
        );
  });
</script>


{% endblock %}