{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'indicators:Indicators_app_section_list' %}">Section Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>section_designation</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.section_designation }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'indicators:Indicators_app_section_create' %}">Create new Section</a>
{% endblock %}