{% extends "base.html" %}
{% load i18n %}

{% block title %}
	<title> {{ pagetitle }}</title>
{% endblock %}

{% block pagename %}Home{% endblock %}

{% block head %}
<style>
  .thumbnail {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
   transition: 0.3s;
   min-width: 40%;
   border-radius: 5px;
  }

  .thumbnail-description {
   min-height: 40px;
  }

  .thumbnail:hover {
   cursor: pointer;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  }
</style>

{% endblock %}



{% block container %}
{% if user.is_authenticated %}
  <div class="row">
  <div class="col-md-12">
    <div class="row space-16">&nbsp;</div>
    <div class="row">
      <div class="col-sm-2">
        <div class="thumbnail">
          <div class="caption text-center" onclick="location.href='{% url "wash" %}'">
            <div class="position-relative">
              <img src="http://lorempixel.com/72/72/food"  />
            </div>
            <h4 id="thumbnail-label"><a href="{% url "wash" %}" target="_blank">SANTE & NUTRITION </a></h4>
          </div>
          <div class="caption card-footer text-center">
            <ul class="list-inline">             
              <li><i class="glyphicon glyphicon-envelope lighter"></i><a href="#">&nbsp;Help</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="thumbnail">
          <div class="caption text-center" onclick="location.href='{% url "wash" %}'">
            <div class="position-relative">
              <img src="http://lorempixel.com/72/72/people"  />
            </div>
            <h4 id="thumbnail-label"><a href="{% url "wash" %}" target="_blank">EDUCATION</a></h4>
          </div>
          <div class="caption card-footer text-center">
            <ul class="list-inline">
              <li><i class="glyphicon glyphicon-envelope lighter"></i><a href="#">&nbsp;Help</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="thumbnail">
          <div class="caption text-center" onclick="location.href='{% url "wash" %}'">
            <div class="position-relative">
              <img src="http://lorempixel.com/72/72/nature"  />
            </div>
            <h4 id="thumbnail-label"><a href="{% url "wash" %}" target="_blank">WASH</a></h4>
          </div>
          <div class="caption card-footer text-center">
            <ul class="list-inline">
              <li><i class="glyphicon glyphicon-envelope lighter"></i><a href="#">&nbsp;Help</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="thumbnail">
          <div class="caption text-center" onclick="location.href='{% url "wash" %}'">
            <div class="position-relative">
              <img src="http://lorempixel.com/72/72/nightlife"  />
            </div>
            <h4 id="thumbnail-label"><a href="{% url "wash" %}" target="_blank"> Autonomisation des adolescents et résilience communautaire</a></h4>
          </div>
          <div class="caption card-footer text-center">
            <ul class="list-inline">
              <li><i class="glyphicon glyphicon-envelope lighter"></i><a href="#">&nbsp;Help</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="thumbnail">
          <div class="caption text-center" onclick="location.href='{% url "wash" %}'">
            <div class="position-relative">
              <img src="http://lorempixel.com/72/72/business"  />
            </div>
            <h4 id="thumbnail-label"><a href="{% url "wash" %}" target="_blank">Politique sociale et plaidoyer</a></h4>
          </div>
          <div class="caption card-footer text-center">
            <ul class="list-inline">
              <li><i class="glyphicon glyphicon-envelope lighter"></i><a href="#">&nbsp;Help</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="thumbnail">
          <div class="caption text-center" onclick="location.href='{% url "wash" %}'">
            <div class="position-relative">
              <img src="http://lorempixel.com/72/72/technics"  />
            </div>
            <h4 id="thumbnail-label"><a href="{% url "wash" %}" target="_blank">PROTECTION DE L'ENFANCE</a></h4>
          </div>
          <div class="caption card-footer text-center">
            <ul class="list-inline">
              <li><i class="glyphicon glyphicon-envelope lighter"></i><a href="#">&nbsp;Help</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}