{% extends "base.html" %}
{% load i18n %}

{% block title %}
	<title> {{ pagetitle }}</title>
{% endblock %}

{% block pagename %}Home{% endblock %}

{% block head %}
<style>
  .thumbnail {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
   transition: 0.3s;
   min-width: 40%;
   border-radius: 5px;
  }

  .thumbnail-description {
   min-height: 40px;
  }

  .thumbnail:hover {
   cursor: pointer;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  }
</style>

{% endblock %}



{% block content %}
{% if user.is_authenticated %}
<div class="row">
  {% for section in sections  %}
      <div class="col-sm-2">
        <div class="thumbnail">
          <div class="caption text-center" onclick="location.href='{% url "indicators:Indicators_app_section_detail" pk=section.id %}'">
            <div class="position-relative">
              <img src="https://via.placeholder.com/72"/>
            </div>
            <h4 id="thumbnail-label">
              <a href="{% url "indicators:Indicators_app_section_detail" pk=section.id %}" target="_blank">
                {{section}}
              </a>
            </h4>
          </div>
        </div>
      </div>
    {% endfor %}  
</div>
{% endif %}
{% endblock %}